<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MathVR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/practice.css') }}"
    />
    <script
      data-consolejs-channel="35e2b394-4c0b-60b5-8c99-0d6fe1455065"
      src="https://remotejs.com/agent/agent.js"
    ></script>
  </head>
  <body>
    <section id="ar-container" class="container"></section>
    <div id="question-container" class="question-container">
      <p></p>
    </div>
    <div id="clues" class="clues">
      <p></p>
      <img
        src="{{ url_for('static', filename='assets/img/caminar.png') }}"
        alt="Paw Print"
      />
    </div>
    <div id="options" class="options">
      <span id="next-question">↪️</span>
      <span id="question">🤔</span>
    </div>
    <script src="{{ url_for('static', filename='libs/mindar/mindar-image-three.prod.js') }}"></script>
    <script
      src="{{ url_for('static', filename='practice.js') }}"
      type="module"
    ></script>
  </body>
</html>
